.card {
    width: 25%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .card {
        width: 70%;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}